@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.title{
    font-size: 40px;
    letter-spacing: 4px;
    color: aqua;
}

#menu-list{
    background-color: black;
    color: white;
    border: none;
    font-size: 25px;
    
}
.information{
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.introbuttons{
    display: flex;
    align-items: center;
    
}

#button1{
    width: 8rem;
    height: 3rem;
    color: white;
    background-color:red;
    border: none;
    font-size: 20px ;
    
}

#button1:hover{
    width: 9rem;
    height: 4rem;

}

#button2:hover{
    width: 9rem;
    height: 4rem;

}


#button2{
    margin-left:3rem ;
    font-size: 20px;
    width: 8rem;
    height: 3rem;
    background-color: black;
    color: white;
    border: 1px solid white;
}